
        body {
            padding-top: 56px; /* Adjusted for the fixed navbar height */
            margin-top: 20px;
        }
        .text {
          text-align: center;
        }
        .mar{
          margin-top: 25px;

        }
        a:hover {
          background-color: yellow;
        }
        .pad{
padding-left: 50px;
font-size: x-large;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


background-repeat: no-repeat;
        }

        /* Custom styles for the navigation bar */
        .navbar {
            background-color: #3498db;
        }

        .navbar-toggler-icon {
            background-color: #fff;
        }

        /* Adjusted padding for mobile devices */
        @media (max-width: 767px) {
            body {
                padding-top: 0;
            }
        }
        
* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}
.col-25 span{
  color:red
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
.si{
  width: 60px;

}
.button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding-left: 20px ;
  margin-left: 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  
  cursor: pointer;
}

    